{% block header %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href='{{ path('user_space_show', {id: app.user.id}) }}'>Mon compte</a>
		<a href='{{ path('app_user_space') }}'>Liste des comptes</a>
		<a href='{{ path('app_logout') }}'>déconnexion</a>
	{% else %}
		<a class="btn btn-primary" href='{{ path('app_login') }}'>Connexion</a>
		<a class="btn btn-primary" href='{{ path('app_register') }}'>Inscription</a>
	{% endif %}
{% endblock %}
